<launch>

    <node pkg="rosbag" type="play" name="play_node" output="screen"
        args="/home/mike/bagfiles/pr2/pr2_mit_demo_pari.bag -l">
    </node>

    <node pkg="rviz" type="rviz" name="rviz_node" output="screen"
        args="-d $(find psr_aula10_23-24)/config/config.rviz">
    </node>

    <include file="$(find pr2_description)/robots/upload_pr2.launch">
    </include>



</launch>